@charset "utf-8";
/* CSS Document */

body, html{margin:0px; padding:0px; background-color:#000; background-image:url(../images/body_bg.png); background-repeat:repeat-y; font-family:Tahoma; color:#4c4b4b; font-size:12px; color:#565656; background-position: center;}
img{border:none;}
.clear{height:0px; clear:both}
h2{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:20px; font-weight:normal; margin:0px; padding:0px; /*padding-left:65px;*/ line-height:34px; color:#BCCFB6; margin-bottom:10px; font-weight:bold;}
.newsletter h2 {background-image:url(../images/label.jpg); background-repeat:no-repeat; padding-left:60px;}
.campaign h2 {background-repeat:no-repeat; padding-left:1px; color:#0066CC}
.subscriber h2 {background-image:url(../images/subscriber.jpg); background-repeat:no-repeat; padding-left:60px;}
.analytics h2 {background-image:url(../images/print_plans.png); background-repeat:no-repeat; padding-left:60px;}
.templates h2 {background-image:url(../images/similar_lines.png); background-repeat:no-repeat; padding-left:60px;}
.webform h2 {background-image:url(../images/webform.jpg); background-repeat:no-repeat; padding-left:60px;}


#wrapper{width:1024px; padding-top:0px; text-align:left; padding-left:5px}
#wrapper #body{width:1024px; float:left}
#wrapper #body #body_top{width:990px; height:8px; margin-bottom:-2px;}
#wrapper #body #body_main{width:990px; background-color:#FFFFFF}

#wrapper #body #body_main #header_top{height:160px; width:980px; padding:0px 0px 10px 0px}
#wrapper #body #body_main #header_top #header_top_top{height:10px; width:980px; padding:5px 10px 5px 0; float:left; background:url(../images/header_top.png) no-repeat; margin-bottom:10px; text-align:right; color:#fff; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; line-height:10px;}
#wrapper #body #body_main #header_top #logo{width:230px; float:left; height:116px; margin:5px 10px 10px 10px;}
#wrapper #body #body_main #header_top #logo_right{width:312px; float:right; height:116px; background-image:url(../images/book_service.png); background-repeat:no-repeat;  margin:5px 0px 10px 10px;}

#wrapper #body #body_main #header_top .logo_right {width:345px; float:right; height:116px; bottom: 5px; position: relative;}
#header_top .logo_right  .site_links, #header_top .logo_right .social_media{margin:10px 0; height:50px;}
#header_top .logo_right  .site_links{
	background-color: #000;
}
#header_top .logo_right .social_media{
	background-color: skyblue;
}
.site_links .menu_link {
    float: left;
    padding: 0 7px;
    text-align: left;
	/*font-family: Arial narrow;*/
	
}

.site_links .menu_link  li {
    float: left;
	font-size: 14px;
    list-style: outside none none;
    margin: 5px;
	color: grey;
	
}
.site_links .menu_link  li a{
	text-decoration: none;
	color: grey;
	transition: all 0.5s linear 0s;
}
.site_links .menu_link   li a:hover, .site_links .menu_link   li a.active{
	color:white;
}
.follow_text {
    color: white;
    float: left;
    font-size: 18px;
    line-height: 38px;
    margin: 5px 35px 5px 15px;
    opacity: 0.85;
}
.social_media_link {
    bottom: 5px;
    float: left;
	left: 70px;
    padding: 0 5px;
    position: relative;
    text-align: left;
}
.social_media_link  li {
    float: left;
	font-size: 14px;
    list-style: outside none none;
    margin: 5px;
	color: grey;
}
.social_media_link  li a{
	text-decoration: none;
	color: white;
	transition: all 0.5s linear 0s;
}
.social_media_link  li a:hover, .social_media_link  li a.active{
	color:grey;
}


#wrapper #body #body_main #menu{width:990px; height:50px; background-color:#000000; float:left; margin-left:0px; background-image:url(../images/menu_inactive.png); line-height:30px;}
#wrapper #body #body_main #menu ul{list-style:none; margin:0px; padding:0px}
#wrapper #body #body_main #menu ul #left{float:left; height:20px;}
#wrapper #body #body_main #menu ul #right{float:right; height:20px;}
#wrapper #body #body_main #menu ul li{float:left; font-size:14px; height:20px; width:auto; }
#wrapper #body #body_main #menu ul li a{float:left;  height:34px; color:#000; text-decoration:none; display:block; margin:0px; padding:7px 41px 0 41px; background-image:url(../images/menu_inactive.png); background-repeat:repeat-x; text-shadow: 4px 4px 4px 4px #FFF;}
#wrapper #body #body_main #menu ul li a:hover, #wrapper #body #body_main #menu ul li a.active{float:left;  height:50px; color:#000; text-decoration:none; display:block; margin:0px; background-image:url(../images/menu_active.png);  background-repeat:repeat-x; text-shadow: 4px 4px 4px 4px #FFF;}
#wrapper #body #body_main #menu ul li a.last{float:left;  height:50px; color:#000; text-decoration:none; display:block; margin:0px; padding:7px 39px 0 40px; background-image:url(../images/menu_inactive.png); background-repeat:repeat-x; text-shadow: 4px 4px 4px 4px #FFF;}
#wrapper #body #body_main #menu ul li a.last:hover, #wrapper #body #body_main #menu ul li a.last.active{float:left;  height:50px; color:#000; text-decoration:none; display:block; margin:0px; background-image:url(../images/menu_active.png);  background-repeat:repeat-x; text-shadow: 4px 4px 4px 4px #FFF;}
#wrapper #body #body_main #banner_main{width:990px; height:450px; background-color:#FFFFFF; margin-left:0px; margin-top:4px; float:left; margin-bottom: 25px;}

#wrapper #body #body_main #left_col{width:234px; float:left; margin:75px 0px 30px; border:#D2D2D2 1px solid; -moz-border-radius: 6px;  -webkit-border-radius: 6px;	-khtml-border-radius: 6px;	border-radius: 6px; height:auto; min-height:370px; background:url(../images/left_bg.png) repeat-x; background-color:#dedede; padding-top:15px; position:relative;}

#wrapper #body #body_main #middle_col{width:480px; float:left; margin:75px 0px 30px 9px; background:url(../images/middle_bg.png) no-repeat; background-color:#FFF; height:auto; min-height:342px; border:#CCC 1px solid; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; padding:218px 10px 10px 10px; -moz-border-radius: 6px 4px 4px 6px;  -webkit-border-radius: 6px 4px 4px 6px;	-khtml-border-radius: 6px 4px 4px 6px;	border-radius: 6px 4px 4px 6px; line-height:19px; text-align:justify; position: relative;}

#wrapper #body #body_main #right_col{background: #dedede url("../images/left_bg.png") repeat-x scroll 0 0;
    border: 1px solid #d2d2d2;border-radius: 6px; width:231px; float:left; margin:75px 0px 10px 10px;  height:auto; text-align:center; position: relative; min-height: 370px; padding-top: 15px;}
.inner_left{
	width:191px; padding:5px; background-color:#999; color:#cddbdd; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; height: 100px; text-align:justify; margin-bottom:20px; margin-left:15px;
}

#body_main #right_col .inner_left{
	margin:10px auto 20px; box-sizing: border-box;
}
/* Extra */
.form_table{
	width:716px
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#203759;
	border:1px solid #B0C4E3;
	margin-bottom:10px;
	background-color:/*#f8f8f5*/#EEF2F9;
	-moz-border-radius: 6px;
    -webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}
.form_headings{color:#0d95d1; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:20px; font-weight:normal}
.tab_even{background-color:#4B71B8; 
	color:#FFFFFF; 
	font-size:16px;
	padding-left:10px;
	font-weight:bold;
	-moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.form_

{
	border:1px solid #2A5099;
	color:#1667b0;
	width:300px;
	padding:4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color:#F8F8F8;
}
.form_input:focus{border:1px solid #FF7B0B; background-color:#FFFFFF}
.form_input_small{
	border:1px solid #2A5099;
	color:#1667b0;
	width:200px;
	padding:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}
.form_input_small:focus{border:1px solid #FF7B0B; background-color:#FFFFFF}
.form_textarea{
	border:1px solid #2A5099;
	color:#1667b0;
	width:300px;
	height:160px;
	padding:4px;
	background-color:#FFFFFF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}
.form_textarea:focus{border:1px solid #4c8ea9; background-color:#FFFFFF}
.button{
	border:0px;
	background-image:url(../images/menu_bg_normal.jpg);
	background-repeat:repeat-x;
	width:105px;
	height:31px;
	cursor:pointer;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
}
.button:hover {
	background-image:url(../images/menu_hover.jpg);
}
.link_class a{color:#1F3870; font-weight:bold; text-decoration:none}
floated { padding:0; margin:10px auto;}


#footer{width:990px; min-height:200px; text-align:left; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; /*background-image:url(../images/footer_bg.png);*/ background-repeat:repeat-x; background-color: #fff;}
#footer .footer_upper{height:30px; width:95%; color:#00343f; font-family:Arial, Helvetica, sans-serif; font-size:11px; text-align:center; display:table; margin:0px auto; }
#footer .footer_lower{height:20px; width:30%; padding:14px 10px 10px 10px; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:11px; text-align:center; float:left;}
#footer #link{margin:23px 0 0 164px; float:left; text-align:left; line-height:21px; color:#bcbcbc;}
#footer #link a{text-decoration:none; color:#bcbcbc;}
#footer #link a:hover{text-decoration:underline; color:#FFF}
#footer #link a.active{text-decoration:underline; color:#FFF}
#footer #footer_logo{margin:23px 194px 0 0; float:right; text-align:right;}



.error_message{/*width:730px; float:left;*/width:auto; height:auto; padding:10px 5px 10px 10px; border:1px solid #fecccb; background-image:url(../images/error_msgbg.jpg); background-repeat:repeat-x; -moz-border-radius: 7px; -webkit-border-radius: 7px; -khtml-border-radius: 7px; border-radius: 7px; margin-bottom:20px; cursor:default;}

.error_message img{opacity:0; filter: alpha(opacity = 50);}

.error_message:hover img{opacity:0.8; filter: alpha(opacity = 100);}

.error_img{height:32px; width:32px; margin:0 0 0 0; padding:0px; float:left;}

.error_img img{opacity:1; filter: alpha(opacity = 100);}

.error_head{height:14px; width:auto; padding:8px; float:left; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#FF0000;}

.clear{clear:both;}

.success_message {border:1px solid #bceeca;background-image:url(../images/success_msgbg.jpg);background-position:0px -10px}

.success_head {color:#009900;}

.info_message {border:1px solid #9fe2f5;background-image:url(../images/info_msgbg.jpg);}

.info_head {color:#037AA7;}

.close_img{float:right; height:14px; width:auto; padding:0 0 8px 0;}

.close_img img:hover{opacity:1}

.header-decoration {
    border: 1px solid #4d4d4d;
    top: -50px;
    height: 40px;
    position: absolute;
    width: 100%;
	box-sizing: border-box;
	padding:0 10px;
	text-align: left;
	font-size: 15px;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 40px;
	font-weight:bold;
	color: #fff;
	text-shadow: 0px 1px 10px #4d4d4d;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a4b357+49,77871f+100 */
	background: rgb(164,179,87); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(164,179,87,1) 49%, rgba(119,135,31,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(164,179,87,1) 49%,rgba(119,135,31,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(164,179,87,1) 49%,rgba(119,135,31,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#77871f',GradientType=0 ); /* IE6-9 */
}
.header-decoration.overlap-padding{
	right: 0px;
}
.header-decoration.overlap-padding-right-col{
	right: 0px; top: -50px;
}
.vol-label-new{
	border: 1px solid #1e5799;
    height: 40px;
    width: 100%;
	box-sizing: border-box;
	padding:0 10px;
	text-align: left;
	font-size: 15px;
	font-family:Arial, Helvetica, sans-serif;
	line-height: 40px;
	font-weight:bold;
	color: #fff;
	text-shadow: 0px 1px 10px #4d4d4d;
	margin-top:16px;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 100%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(100%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 100%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.left-col-list-holder {
    /*border-bottom: 2px solid indianred;
	font-family: "Helvetica Narrow","Arial Narrow",Tahoma,Arial,Helvetica,sans-serif;*/
    font-size: 14px;
    font-weight: bold;
    line-height: 27px;
    margin: 5px 5px;
	padding-bottom: 10px;
}
.left-col-list-holder  hr{ 
	display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid indianred;
    margin: 1em 0;
    padding: 0; 
}
.left-col-list-heading {
    color: #1e5799;
    font-size: 16px;
    line-height: 35px;
}
.left-col-list {
    list-style: outside none none;
	padding-left: 25px;
}
.left-col-list  li a {
    color: #000;
    text-decoration: none;
}
.left-col-list  li a:hover, .left-col-list  li a.active {
    color: #1e5799;
    text-decoration: underline;
}
.wrapper-date-time{
	display: table;
	width: 100%;
	margin: 5px 0 10px;
}
.wrapper-date-time .date-time-bar{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a4b357+49,77871f+100 */
background: rgb(164,179,87); /* Old browsers */
background: -moz-linear-gradient(top, rgba(164,179,87,1) 49%, rgba(119,135,31,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(164,179,87,1) 49%,rgba(119,135,31,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(164,179,87,1) 49%,rgba(119,135,31,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#77871f',GradientType=0 ); /* IE6-9 */
	box-sizing: border-box;
    height: 30px;
    padding: 0 10px;
    width: 100%;
	color: white;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
}

.footer_upper .image-content  img{
	position: relative;
}
.footer_upper .image-content  img.left-img{
	left: 60%
}
.footer_upper .image-content  img.right-img{
	right: 28%;
}
.footer_upper .footer-upper-first-child{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.footer_middle{
	text-align: center;
}
.footer_middle p, .footer_upper  p{
	font-size: 18px;
	line-height: 12px;
}


/*contact page css 24-04-2016*/
/*#wrapper #body #body_main #middle_col_big{width:940px; float:left; margin:20px 0px 10px 9px; background-color:#c3c3c3; height:auto; border:#CCC 1px solid; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; padding:10px 10px 10px 20px; text-align:justify;}*/
#wrapper #body #body_main #middle_col_big{width:940px; float:left; margin:20px 0px 10px 9px; background-color:#C0C0C0; height:auto; border:#CCC 1px solid; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:normal; padding:10px 10px 10px 20px; text-align:justify; min-height: 650px;}
.contact-us-middle{background-color:#C0C0C0;padding:69px 0 69px 108px;width: 87%;}
#wrapper #body #body_main #middle_col_big .page_header{width:900px; height:53px; background:url(../images/page_header.png) no-repeat; padding-left:25px;}
#wrapper #body #body_main #middle_col_big .page_header .left_curve{width:10px; height:28px; background:url(../images/left_curve.png) no-repeat; float:left; margin-top:7px;}
#wrapper #body #body_main #middle_col_big .page_header .rules_title{width:auto; height:28px; background:url(../images/title_bg.png) repeat; float:left; margin-top:7px; font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; text-shadow: 1px 1px white, -1px -1px #FFF; line-height:28px; padding:0 5px 0 5px;}
#wrapper #body #body_main #middle_col_big .page_header .right_curve{width:10px; height:28px; background:url(../images/right_curve.png) no-repeat; float:left; margin-top:7px;}
#wrapper #body #body_main #middle_col_big .inner{width:885px; height:auto; float:left; padding:20px 20px 20px 20px; line-height:21px; text-align:justify; -moz-border-radius: 10px;    -webkit-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px; background-color:#748084;}
#wrapper #body #body_main #middle_col_big .inner .head_icon{width:885px; height:auto; text-align:center;}
#wrapper #body #body_main #middle_col_big .inner .text{width:850px; height:auto; float:left; padding:10px 15px 10px 15px; line-height:19px; text-align:justify;  background-color:#748084; border:#CCC 1px solid;}
#wrapper #body #body_main #middle_col_big  .contact_us_bg{width:625px; min-height:140px; height:auto; padding-top:183px; background:url(../images/contact_us_bg.png) no-repeat; padding-left:125px; margin: 60px auto;}

/*contact page css 24-04-2016*/


/*home page dialogs*/
.custom-dialog-form label, .custom-dialog-form input { display:block; }
.custom-dialog-form label{margin-top: 10px;}
.custom-dialog-form input.text { margin-bottom:12px; width:95%; padding: .4em; }
.custom-dialog-form fieldset { padding:0; border:0; margin-top:25px; }
.custom-dialog-form h1 { font-size: 1.2em; margin: .6em 0; }
.custom-dialog-form. div#users-contain { width: 350px; margin: 20px 0; }
.custom-dialog-form div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
.custom-dialog-form div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.custom-dialog-form .ui-dialog .ui-state-error { padding: .3em; }
.custom-dialog-form .validateTips { border: 1px solid transparent; padding: 0.3em; }
.custom-dialog-form .ui-custom-radio {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.stop-scrolling {height: 100%;overflow: hidden; }
.fixed-dialog{
  position: fixed;
  top: 30% !important;
}
/*home page dialogs*/

/*debvelopped by koushik*/
.reg-form{
		
		height:100%;
		-moz-border-radius:8px ; 
		-khtml-border-radius:8px; 
		border-radius:8px;; 
		-webkit-border-radius:8px;
		font-size:14px;
		font-family:Verdana, Geneva, sans-serif;
		/*-moz-box-shadow: 20px 10px 15px #E0DEE2;
		-webkit-box-shadow: 20px 10px 15px #E0DEE2;
		box-shadow: 17px 15px 15px #E0DEE2;
		background-color:#EDE2C9; */
		margin:auto 0px;
		margin-left:40px;
}
.reg-form input[type=text], input[type=password]{
	width:280px; 
	background-color:#FFF; 
	border:#9BAAAE 2px groove;
	height: 20px;
	-moz-border-radius:4px ; 
	-khtml-border-radius:4px; 
	border-radius:4px;; 
	-webkit-border-radius:4px;
	padding-left:3px;
	
}
.reg-form select{
	width:280px; 
	background-color:#FFF; 
	border:#9BAAAE 2px groove;
	height: 25px;
	-moz-border-radius:4px ; 
	-khtml-border-radius:4px; 
	border-radius:4px;; 
	-webkit-border-radius:4px;
	padding-left:3px;
}
.reg-form textarea{
	width:278px; 
	background-color:#FFF; 
	border:#9BAAAE 2px groove;
	height: 45px;
	-moz-border-radius:4px ; 
	-khtml-border-radius:4px; 
	border-radius:4px;; 
	-webkit-border-radius:4px;
	padding-left:3px;
    resize: none;
}
.reg-form input[type=submit], input[type=button]{
	background-color:#FFF; 
	border:#9BAAAE 2px groove;
	/*height:36px;
	width:100px;*/
	/*-moz-border-radius:4px ; 
	-khtml-border-radius:4px; 
	border-radius:4px; 
	-webkit-border-radius:4px;*/
	cursor:pointer;
	font-size:16px;
	font-weight:bold;
	/*width:20px;*/
	/*background-image:url('../images/button.png');*/
	/*-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;*/
}
.reg-form a{text-decoration:none; color:rgba(255, 255, 255, 0.75); font-weight:bold;}
.reg-form a:hover{color:rgba(255, 255, 255, 1);}
.after-login-header-right{color:#FFF; font:Tahoma, Geneva, sans-serif; font-size:23px; font-weight:bold; position:absolute; z-index:1234; top:30px; right:60px;}

/*fassionable list 29-5-2016*/
.dialog-body-content ul.list-issues{
    
}
.dialog-body-content ul.list-issues li{
    list-style: none;
    margin: 3px 0;
}
.dialog-body-content a.buy-btn {
  height: 30px;
  width: 95%;
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  color: #fff;
  
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a4b357+49,77871f+100 */
	background: rgb(164,179,87); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(164,179,87,1) 49%, rgba(119,135,31,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(164,179,87,1) 49%,rgba(119,135,31,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(164,179,87,1) 49%,rgba(119,135,31,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#77871f',GradientType=0 ); /* IE6-9 */
    
}

.dialog-body-content .btn {
  position: relative;
}
.dialog-body-content .btn .content {
  position: absolute;
  height: 30px;
  width: 95%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: top .5s;
  transition: top .5s;
}
.dialog-body-content .btn .content.top {
  top: 0;
}
.dialog-body-content .btn .content.buttom {
  top: 30px;
}
.dialog-body-content .btn:hover .top {
  top: -30px;
}
.dialog-body-content .btn:hover .buttom {
  top: 0px;
}
/*fassionable list 29-5-2016*/

/*debvelopped by koushik*/

/*8981538376*/